<!DOCTYPE html>

<html>

<head>
	<title>File Metadata</title>
	<link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
		type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header class="file-metadata_header">
        <h1>File Metadata<br>Microservice</h1>
    </header>

	<main>
		<section class="how">
			<header>
				<h2>How do you use this service?</h2>
			</header>
			<p>Select a file to be uploaded.</p>

			<form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
				<input id="inputfield" type="file" name="upfile">
				<input id="button" type="submit" value="Upload">
			</form>


			<p class="highlight">* No data is saved.</p>
		</section>
		<section class="what">
			<article>
				<header>
					<h2>What does this service do?</h2>
				</header>
				<p>This will extract the metadata of any file the you upload.</p>
				<p>The metadata will include the name of the file, the type, and the size in bytes.</p>
				<p>The data will be returned as JSON object once the file is uploaded.</p>
			</article>
			<article>
				<header>
					<h3>Example Output</h3>
				</header>
				<p>
					<code>{ "name":"some_file.txt", "type":"text/plain", size: 1714 }</code>
				</p>
			</article>
		</section>
	</main>

	<footer class="footer">
		<p>Completed By: Clayton McDaniel</p>
		<p>Github Repository: <a href="https://github.com/Altycon" target="_blank">https://github.com/Altycon</a></p>
		<p>Challenge By: <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a></p>
	</footer>
	
</body>

</html>